.Main-page {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  background-color: #437C90;
  padding: 30px;
  border-radius: 3px;
  display: block;
}

.App-title {
  font-size: 200%;
}

.user-location {
  border: 2px solid #ADACB5;
}

.App-intro {
  font-size: 140%;
  text-align: left;
  list-style-type: decimal;
}

.user-location, .get-started-button {
  height: 30px;
  width: 80%;
  margin: 10px;
  border-radius: 3px;
}

.get-started-button {
  background-color: #255957;
  height: 50px;
  border: none;
  font-size: 125%;
  color: white;
  cursor: pointer;
  border: 2px solid #ADACB5;
}

.get-started-button:hover, .get-started-button:focus {
  background-color: #173635;
}

.App-info {
  font-size: 150%;
}

.error {
  color: rgb(255, 0, 0);
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (max-width: 800px) and (max-height: 1030px) {
  .Main-page {
    width: 80%;
    height: 80%;
    font-size: 150%;
  }
  .App-intro {
    font-size: 110%;
  }
  .App-title {
    font-size: 120%;
  }
  .user-location {
    font-size: 100%;
  }

}
