.results-page {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  background-color: #F7C548;
  padding: 40px;
  border-radius: 3px;
  display: block;
}

.result-image {
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.restaurant-info {
  text-align: left;
  list-style-type: none;
}

.result-title {
  font-size: 25px;
  text-decoration:none;
  color: black;
  font-weight: bold;
}

.result-title:hover, .result-title:focus {
  color: blue;
  text-decoration: underline;
}

li {
  margin-bottom: 2px;
}

@media screen and (max-width: 800px) and (max-height: 1030px) {
  .results-page {
    width: 80%;
    height: 80%;
    font-size: 150%;
  }
  .result-title {
    font-size: 150%;
  }

}